---
import type { HTMLAttributes } from "astro/types"

type Props = HTMLAttributes<"a">

const { href, ...props } = Astro.props
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "")
const subpath = pathname.match(/[^\/]+/g)
const isActive = href === pathname || href === "/" + (subpath?.[0] || "")
---

<a
  href={href}
  class:list={`font-display rounded-full px-4 py-2 text-sm leading-5 font-bold ${
    isActive
      ? "shadow-solid bg-indigo-50 text-indigo-900 shadow-indigo-800 ring-indigo-600 hover:ring-3 focus:ring-3"
      : "text-indigo-300 ring-indigo-300 hover:ring-3 focus:ring-3"
  }`}
  {...props}
>
  <slot />
</a>
