---
import HeaderLink from "./HeaderLink.astro"
import { SITE_TITLE } from "../consts"
---

<div class="starlight fixed inset-0"></div>
<div class="sticky top-0 w-full z-20 h-[2px] bg-gradient-gf"></div>

<header
  class="p-4 md:p-6 lg:px-12 lg:py-8 bg-linear-to-b from-slate-700 dark:from-slate-900 relative"
>
  <div class="relative z-10 max-w-7xl px-safe mx-auto">
    <nav
      class="flex flex-col sm:flex-row gap-4 md:gap-6 items-stretch text-indigo-100 dark:text-indigo-200"
    >
      <div class="flex items-center gap-2 flex-1">
        <a
          href="/"
          class="flex gap-3 lg:gap-4 items-center font-display font-bold text-3xl focus:outline-hidden focus-visible:ring-3 focus-visible:ring-rose-300 dark:focus-visible:ring-rose-500 transition duration-150 ease-in-out rounded-xs mr-2 sm:mr-6"
        >
          <img
            src="/oobavi3.svg"
            class="w-12 h-12 rounded-full bg-indigo-500 dark:bg-indigo-400 shadow-sm"
            alt={`Cartoon render based on my Ooblets character.`}
          />
          <span class="hidden sm:block">{SITE_TITLE}</span>
        </a>
        <HeaderLink href="/archive">Archive</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
      </div>
    </nav>
    <slot />
  </div>
</header>
