---
import HeaderLink from "./HeaderLink.astro"
import { SITE_TITLE } from "../consts"
---

<div class="starlight fixed inset-0"></div>
<div class="bg-gradient-gf sticky top-0 z-20 h-[2px] w-full"></div>

<header
  class="relative bg-linear-to-b from-mauve-700 p-4 md:p-6 lg:px-12 lg:py-8 dark:from-mauve-900"
>
  <div class="px-safe relative z-10 mx-auto max-w-7xl">
    <nav
      class="flex flex-col items-stretch gap-4 text-indigo-100 sm:flex-row md:gap-6 dark:text-indigo-200"
    >
      <div class="flex flex-1 items-center gap-2">
        <a
          href="/"
          class="font-display mr-2 flex items-center gap-3 rounded-xs text-3xl font-bold transition duration-150 ease-in-out focus:outline-hidden focus-visible:ring-3 focus-visible:ring-rose-300 sm:mr-6 lg:gap-4 dark:focus-visible:ring-rose-500"
        >
          <img
            src="/oobavi3.svg"
            class="h-12 w-12 rounded-full bg-indigo-500 shadow-sm dark:bg-indigo-400"
            alt={`Cartoon render based on my Ooblets character.`}
          />
          <span class="hidden sm:block">{SITE_TITLE}</span>
        </a>
        <HeaderLink href="/archive">Archive</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
      </div>
    </nav>
    <slot />
  </div>
</header>
