@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@theme {
  --font-sans:
    Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-display:
    Futura, Cantarell, "Didact Gothic", YuGothic, ui-sans-serif, system-ui,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-mono:
    Iosevka, "JetBrains Mono", "Fira Code", ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@utility dark {
  /* Dark theme code blocks */
  & :not(pre) > code[class*="language-"] {
    background-color: var(--color-slate-900);
  }
  & pre[class*="language-"] {
    background-color: var(--color-slate-900);
  }
}

@utility prose-all {
  @apply prose lg:prose-lg xl:prose-xl prose-gray dark:prose-invert prose-code:before:hidden prose-code:after:hidden;
  @apply prose-headings:font-display prose-headings:font-normal prose-a:font-normal prose-a:no-underline prose-a:hover:underline prose-a:focus-visible:underline lg:prose-a:decoration-2 lg:prose-a:underline-offset-2 dark:prose-hr:border-slate-600;
  @apply prose-headings:text-balance prose-p:text-pretty prose-blockquote:text-pretty;
}

@utility prose-lime {
  @apply prose-li:marker:text-lime-500 prose-a:text-lime-600 dark:prose-a:text-lime-400;
}
@utility prose-teal {
  @apply prose-li:marker:text-teal-500 prose-a:text-teal-600 dark:prose-a:text-teal-400;
}
@utility prose-rose {
  @apply prose-li:marker:text-rose-500 prose-a:text-rose-600 dark:prose-a:text-rose-400;
}
@utility prose-purple {
  @apply prose-li:marker:text-purple-500 prose-a:text-purple-600 dark:prose-a:text-purple-400;
}
@utility prose-indigo {
  @apply prose-li:marker:text-indigo-500 prose-a:text-indigo-600 dark:prose-a:text-indigo-400;
}

@utility bg-gradient-radial {
  background-image: radial-gradient(var(--tw-gradient-stops));
  background-size: 100% 150%;
  background-position: center center;
}

@utility shadow-solid {
  --tw-shadow: 0 6px 0 var(--tw-shadow-color, rgb(0 0 0 / 0.1));
  --tw-shadow-colored: 0 6px 0 var(--tw-shadow-color);
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}

@utility shadow-layered-light {
  /* @apply bg-slate-100 text-slate-800; */
  box-shadow:
    0 4px 0 var(--color-slate-300),
    0 8px 0 var(--color-neutral-400);
}

@utility shadow-layered-dark {
  /* @apply bg-neutral-800 text-white; */
  box-shadow:
    0 4px 0 var(--color-slate-700),
    0 8px 0 var(--color-slate-800);
}

@utility text-shadow-title {
  text-shadow:
    0 1px 0 var(--color-indigo-300),
    0 2px 0 var(--color-indigo-400),
    0 3px 0 var(--color-indigo-900),
    0 4px 0 var(--color-indigo-900),
    0 5px 0 var(--color-indigo-900),
    0 6px 0 var(--color-indigo-900);
}

@utility shadow-rainbow {
  box-shadow:
    rgb(85, 91, 255) 0px 0px 0px 3px,
    rgb(31, 193, 27) 0px 0px 0px 6px,
    rgb(255, 217, 19) 0px 0px 0px 9px,
    rgb(255, 156, 85) 0px 0px 0px 12px,
    rgb(255, 85, 85) 0px 0px 0px 15px;
}

@utility shadow-rainbow-sm {
  box-shadow:
    rgb(85, 91, 255) 0px 0px 0px 2px,
    rgb(31, 193, 27) 0px 0px 0px 4px,
    rgb(255, 217, 19) 0px 0px 0px 6px,
    rgb(255, 156, 85) 0px 0px 0px 8px,
    rgb(255, 85, 85) 0px 0px 0px 10px;
}

@utility bg-gradient-rainbow {
  background-image: linear-gradient(
    90deg,
    var(--color-blue-500) 0%,
    var(--color-lime-500) 25%,
    var(--color-yellow-500) 50%,
    var(--color-rose-500) 75%,
    var(--color-purple-500) 100%
  );
}

@utility bg-gradient-rainbow-light {
  background-image: linear-gradient(
    90deg,
    var(--color-blue-300) 0%,
    var(--color-lime-300) 25%,
    var(--color-yellow-300) 50%,
    var(--color-rose-300) 75%,
    var(--color-purple-300) 100%
  );
}

@utility bg-gradient-pan {
  background-image: linear-gradient(
    90deg,
    var(--color-pink-500) 27%,
    var(--color-yellow-500) 36%,
    var(--color-yellow-500) 63%,
    var(--color-cyan-500) 73%
  );
}

@utility bg-gradient-nb {
  background-image: linear-gradient(
    90deg,
    var(--color-yellow-300),
    var(--color-neutral-50),
    var(--color-purple-500),
    var(--color-black)
  );
}

@utility bg-gradient-gf {
  background-image: linear-gradient(
    90deg,
    var(--color-pink-400),
    var(--color-slate-300),
    var(--color-purple-500),
    var(--color-slate-700),
    var(--color-blue-600)
  );
}

@utility bg-gradient-starlight {
  background-image: linear-gradient(
    90deg,
    var(--color-pink-400),
    var(--color-purple-500),
    var(--color-blue-600)
  );
}

@utility bg-gradient-little {
  background-image: linear-gradient(
    90deg,
    var(--color-cyan-200),
    var(--color-pink-200),
    var(--color-white),
    var(--color-purple-200),
    var(--color-yellow-200)
  );
}

@utility mx-safe {
  margin-left: env(safe-area-inset-left);
  margin-right: env(safe-area-inset-right);
}

@utility px-safe {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

@utility image-pixelated {
  image-rendering: pixelated;
}

@utility corner-* {
  corner-shape: --value("bevel", "notch", "round", "scoop", "square", "squircle");
}

@layer base {
  html {
    scrollbar-color: var(--color-indigo-400) var(--color-indigo-100);
    --brand: var(--color-indigo-600);
  }
  body {
    @apply bg-black;
    font-synthesis-weight: none;
  }
  ::selection {
    background-color: --theme(--color-indigo-300 / 80%);
  }

  /* Global dark fixes */
  @media (prefers-color-scheme: dark) {
    html {
      scrollbar-color: var(--color-indigo-700) var(--color-slate-800);
      --brand: var(--color-indigo-400);
    }
    html ::selection {
      background-color: --theme(--color-indigo-600 / 80%);
    }
  }

  /* Theme everything */
  :root {
    accent-color: var(--brand);
    color-scheme: light dark;
  }
  :focus-visible {
    outline-color: var(--brand);
  }
  ::marker {
    color: var(--brand);
  }
  :is(
    ::-webkit-calendar-picker-indicator,
    ::-webkit-clear-button,
    ::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button
  ) {
    color: var(--brand);
  }
  a {
    @apply decoration-wavy;
  }
}

@layer components {
  /* Pretty themed horizontal rules */
  hr {
    @apply my-8 md:my-16 w-48 mx-auto border-indigo-300 dark:border-slate-600;
  }

  /* Little scrollbars are neat */
  pre[class*="language-"] {
    scrollbar-width: thin;
  }

  /* Handwriting-style highlights */
  /* https://css-tricks.com/what-can-we-actually-do-with-corner-shape/ */
  mark {
    @apply bg-yellow-100 dark:bg-yellow-200 text-inherit rounded-sm box-decoration-clone;
    @supports (corner-shape: squircle bevel) {
      corner-shape: squircle bevel;
      border-radius: 50% / 1.1rem 0.5rem 0.9rem 0.7rem;
    }
  }
}
