@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("../fonts/Inter-roman.var.woff2") format("woff2");
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("../fonts/Inter-italic.var.woff2") format("woff2");
}
@font-face {
  font-family: 'Nunito';
  font-weight: 300 600;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("../fonts/Nunito.var.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* macOS Safari overscroll effect */
    background-image: linear-gradient(#fff, theme('colors.purple.100'));
    scrollbar-color: theme('colors.purple.400') theme('colors.purple.100');
    --brand: theme('colors.purple.600');
  }
  body {
    @apply bg-white dark:bg-gray-950 dark:text-white min-h-screen;
  }
  ::selection {
    background-color: theme('colors.purple.200');
  }

  /* Global dark fixes */
  html.dark {
    background-image: linear-gradient(theme('colors.gray.950'), theme('colors.purple.900'));
    scrollbar-color: theme('colors.purple.700') theme('colors.gray.800');
    --brand: theme('colors.purple.400');
  }
  html.dark ::selection {
    background-color: theme('colors.purple.700');
  }

  /* Theme everything */
  :root {
    accent-color: var(--brand);
  }
  :focus-visible {
    outline-color: var(--brand);
  }
  ::marker {
    color: var(--brand);
  }
  :is(
    ::-webkit-calendar-picker-indicator,
    ::-webkit-clear-button,
    ::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button
  ) {
    color: var(--brand);
  }
  a {
    @apply decoration-wavy;
  }
}

@layer components {
  /* Search popover */
  .SearchResults {
    max-height: calc(100vh - 7.5rem);
    top: 100%;
    -webkit-overflow-scrolling: touch;
  }
  @screen sm {
    .SearchResults {
      width: 80vw;
      max-height: 75vh;
    }
  }
  .HitCount {
    @apply flex justify-end text-gray-600 dark:text-purple-200 text-sm mr-4;
  }
  .Hits ul {
    @apply list-none ml-0;
  }

  .ais-Highlight-highlighted,
  .ais-Snippet-highlighted {
    color: inherit;
    @apply rounded-sm bg-purple-200 bg-opacity-50 dark:bg-purple-900 dark:bg-opacity-100;
  }

  .ais-Snippet {
    @apply block text-sm text-gray-800;
  }

  .ais-PoweredBy {
    @apply flex justify-end items-center text-gray-400 dark:text-purple-300 text-sm mr-4;
  }
  .ais-PoweredBy svg {
    width: 70px;
    @apply ml-1;
  }
  .ais-PoweredBy svg > :last-child {
    @apply dark:fill-purple-300;
  }

  /* Pretty themed horizontal rules */
  hr {
    @apply my-16 w-48 mx-auto dark:border-purple-800;
  }

  /* Little scrollbars are neat */
  pre[class*="language-"] {
    scrollbar-width: thin;
  }

  /* Dark theme code blocks */
  .dark :not(pre) > code[class*="language-"],
  .dark pre[class*="language-"] {
    background-color: hsl(251, 16%, 24%);
  }

  /* Patterned backgrounds for headers */
  .bg-pattern-purple {
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23f3e8ff' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
    mask-image: linear-gradient(#fff, rgba(255, 255, 255, 0));
  }
  .dark .bg-pattern-purple {
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23581c87' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
  }
}

@layer utilities {
  .prose-all {
    @apply prose lg:prose-lg xl:prose-xl prose-zinc dark:prose-invert;
    @apply prose-headings:font-display prose-li:marker:text-cyan-500 prose-a:text-cyan-600 dark:prose-a:text-cyan-400 prose-a:font-normal prose-a:no-underline hover:prose-a:underline focus-visible:prose-a:underline lg:prose-a:decoration-2 lg:prose-a:underline-offset-2;
  }
  .shadow-rainbow {
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px,
      rgb(31, 193, 27) 0px 0px 0px 6px,
      rgb(255, 217, 19) 0px 0px 0px 9px,
      rgb(255, 156, 85) 0px 0px 0px 12px,
      rgb(255, 85, 85) 0px 0px 0px 15px;
  }
  .shadow-rainbow-sm {
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 2px,
      rgb(31, 193, 27) 0px 0px 0px 4px,
      rgb(255, 217, 19) 0px 0px 0px 6px,
      rgb(255, 156, 85) 0px 0px 0px 8px,
      rgb(255, 85, 85) 0px 0px 0px 10px;
  }
  .mx-safe {
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
  }
  .px-safe {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}
