@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("../fonts/Inter-roman.var.woff2") format("woff2");
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("../fonts/Inter-italic.var.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* macOS Safari overscroll effect */
  html {
    background-image: linear-gradient(#fff, theme('colors.gray.800'));
  }
  body {
    background-color: #fff;
    min-height: 100vh;
  }

  /* Global dark fixes */
  html.dark {
    scrollbar-color: theme('colors.purple.700') theme('colors.gray.800');
  }
}

@layer components {
  /* Search popover */
  .SearchResults {
    max-height: calc(100vh - 7.5rem);
    top: 100%;
    -webkit-overflow-scrolling: touch;
  }
  @screen sm {
    .SearchResults {
      width: 80vw;
      max-height: 80vh;
    }
  }
  .HitCount {
    @apply flex justify-end text-gray-600 text-sm mr-4;
  }
  .Hits ul {
    @apply list-none ml-0;
  }
  .ais-Hits-item a {
    @apply block px-4 py-2;
  }
  .ais-Hits-item a:hover,
  .ais-Hits-item a:focus {
    @apply bg-gray-200 bg-opacity-75;
  }
  .ais-Hits-item h4 {
    @apply font-bold text-gray-900;
  }

  .ais-Highlight-highlighted,
  .ais-Snippet-highlighted {
    color: inherit;
    @apply rounded-sm bg-purple-200 bg-opacity-50;
  }

  .ais-Snippet {
    @apply block text-sm text-gray-800;
  }

  .ais-PoweredBy {
    @apply flex justify-end items-center text-gray-800 text-sm mr-4;
  }
  .ais-PoweredBy svg {
    width: 70px;
    @apply ml-1;
  }

  /* Little scrollbars are neat */
  pre[class*="language-"] {
    scrollbar-width: thin;
  }

  /* Dark theme code blocks */
  .dark :not(pre) > code[class*="language-"],
  .dark pre[class*="language-"] {
    @apply bg-purpleGray-950;
  }
}

@layer utilities {
  @variants hover, focus {
    .shadow-rainbow {
      box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px,
        rgb(31, 193, 27) 0px 0px 0px 6px,
        rgb(255, 217, 19) 0px 0px 0px 9px,
        rgb(255, 156, 85) 0px 0px 0px 12px,
        rgb(255, 85, 85) 0px 0px 0px 15px;
    }
    .shadow-rainbow-sm {
      box-shadow: rgb(85, 91, 255) 0px 0px 0px 2px,
        rgb(31, 193, 27) 0px 0px 0px 4px,
        rgb(255, 217, 19) 0px 0px 0px 6px,
        rgb(255, 156, 85) 0px 0px 0px 8px,
        rgb(255, 85, 85) 0px 0px 0px 10px;
    }
  }
}

alskdjf {
  background-color: hsl(274, 17%, 16%);
}
