/* Shiny hover effects used by shiny.js component */

/**
Shiny styles based on:
https://deck-24abcd.netlify.app
https://github.com/simeydotme/pokemon-cards-css
*/

.shiny {
  --mx: 50%;
  --my: 50%;
  --o: 0;
  --rx: 0deg;
  --ry: 0deg;
  --posx: 50%;
  --posy: 50%;
  --hyp: 0;
  z-index: 100;
  transform: translate3d(0, 0, 0.1px);
  will-change: transform, visibility;
  transform-style: preserve-3d;
}

.shiny.interacting {
  z-index: 120;
}

.shiny .shadow {
  transition: box-shadow 0.5 ease;
}

.shiny.interacting .shadow {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.shiny_translator,
.shiny_rotator {
  display: grid;
  perspective: 600px;
  transform-origin: center;
  will-change: transform;
  transition-property: transform, box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.shiny.interacting:not(.interact_start) .shiny_translator,
.shiny.interacting:not(.interact_start) .shiny_rotator {
  transition-property: box-shadow;
}

.shiny_translator {
  width: auto;
  position: relative;
}

.shiny_glare,
.shiny_shine {
  opacity: 0;
  --o: 0;
  transition: opacity 0.5s ease-out;
}

.shiny.interacting .shiny_glare,
.shiny.interacting .shiny_shine {
  opacity: 1;
  --o: 1;
  transition: opacity 0.25s ease;
}

.shiny_rotator {
  transform: rotateY(var(--rx)) rotateX(var(--ry));
  transform-style: preserve-3d;
  border-radius: var(--radius);
}

.shiny_rotator>* {
  width: 100%;
  display: grid;
  grid-area: 1/1;
  border-radius: var(--radius);
  transform-style: preserve-3d;
  outline: 1px solid transparent;
}

.shiny_glare {
  transform: translateZ(1px);
  z-index: 4;
  mix-blend-mode: overlay;
  filter: brightness(.9) contrast(1.75);
  opacity: calc(var(--o)*.66);
  background:
    radial-gradient(farthest-corner circle at var(--mx) var(--my),
      rgba(255, 255, 255, 0.75) 0%,
      rgba(99, 99, 99, 0.35) 45%,
      rgba(0, 0, 0, 1) 120%);
}

.shiny_shine {
  display: grid;
  overflow: hidden;
  transform: translateZ(1px);
  background: transparent;
  z-index: 3;
  mix-blend-mode: color-dodge;
}

.shiny_shine:after {
  grid-area: 1/1;
}

/* RAINBOW SECRET */
.shiny_shine,
.shiny_shine:after {
  --space: 7%;
  --angle: -20deg;
  --angle2: 130deg;
  --imgsize: 540px 700px;

  background-image:
    url("../../content/assets/glitter.jpg"),
    repeating-linear-gradient(var(--angle),
      rgb(253, 71, 65) calc(var(--space)*1),
      rgb(255, 243, 151) calc(var(--space)*2),
      rgb(168, 255, 95) calc(var(--space)*3),
      rgb(131, 255, 247) calc(var(--space)*4),
      rgb(75, 198, 255) calc(var(--space)*5),
      rgb(255, 73, 246) calc(var(--space)*6),
      rgb(255, 56, 49) calc(var(--space)*7)),
    repeating-linear-gradient(var(--angle2),
      rgba(89, 46, 80, 0.5) 0%,
      hsl(118, 43%, 76%) 2.5%,
      rgb(223, 96, 202) 5%,
      hsl(180, 57%, 56%) 7.5%,
      rgba(14, 21, 46, 0.5) 10%,
      rgba(14, 21, 46, 0.5) 15%);

  background-size: 50% 50%, 500% 500%, 1000% 1000%, var(--imgsize);
  background-position: center, 0% calc(var(--posy) * 1.5), var(--posx) var(--posy), center;
  background-blend-mode: color-burn, soft-light, normal, normal;

  filter: brightness(calc((var(--hyp)*0.25) + 0.66)) contrast(2) saturate(.95);
}

.shiny_shine:after {
  content: "";
  background-position: center, 0% calc(var(--posy) * -1), calc(var(--posx) * -1) calc(var(--posy) * -1), center;
  mix-blend-mode: exclusion;
}
