.starlight {
  background: var(--color-slate-800)
    url("../../content/assets/starlight/stars.webp") repeat;
  z-index: -2;
}

.starlight::before,
.starlight::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.starlight::before {
  background: var(--color-slate-800);
  z-index: -1;
  mask-image: url("../../content/assets/starlight/mask.webp");
  mask-repeat: repeat;
  animation: move-twink-mask 120s linear infinite;
}

@keyframes move-twink-mask {
  from {
    mask-position: 500% -140px;
  }
  to {
    mask-position: 200% -140px;
  }
}

@media (prefers-color-scheme: dark) {
  .starlight,
  .starlight::before {
    background-color: #000;
  }
}
@media (prefers-reduced-motion: reduce) {
  .starlight,
  .starlight::before {
    display: none;
    animation: none;
  }
}

.glass {
  --c-glass: #bbbbbc;
  --c-light: #fff;
  --c-dark: #000;
  --glass-reflex-dark: 1;
  --glass-reflex-light: 0.5;
  --saturation: 150%;

  background-color: color-mix(in srgb, var(--c-glass) 12%, transparent);
  backdrop-filter: blur(8px) saturate(var(--saturation));
  box-shadow:
    inset 0 0 0 1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 10%), transparent),
    inset 1.8px 3px 0px -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 90%), transparent),
    inset -2px -2px 0px -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 80%), transparent),
    inset -3px -8px 1px -6px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 60%), transparent),
    inset -0.3px -1px 4px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 12%), transparent),
    inset -1.5px 2.5px 0px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent),
    inset 0px 3px 4px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent),
    inset 2px -6.5px 1px -4px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent),
    0px 1px 5px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent),
    0px 6px 16px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 8%), transparent);
}
@media (prefers-color-scheme: dark) {
  .glass {
    --glass-reflex-dark: 2;
    --glass-reflex-light: 0.3;
  }
}
