.starlight {
  background: var(--color-slate-800) url("../../content/assets/starlight/stars.webp") repeat;
  background-size: 150%;
  z-index: -2;
}
.dark .starlight {
  background-color: #000;
}

.starlight > * {
  display: none;
}

.starlight::before,
.starlight::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.starlight::before {
  background: transparent
    url("../../content/assets/starlight/clouds.webp") repeat;
  z-index: -1;
}

.starlight::after {
  background: transparent
    url("../../content/assets/starlight/clouds.webp") repeat;
  background-size: 300% 150%;
  z-index: 0;
}

@keyframes move-stars {
  0% {
    background-position: calc(50% + 1500px) calc(50% + 0px);
  }
  5% {
    background-position: calc(50% + 1427px) calc(50% + 464px);
  }
  10% {
    background-position: calc(50% + 1214px) calc(50% + 882px);
  }
  15% {
    background-position: calc(50% + 882px) calc(50% + 1214px);
  }
  20% {
    background-position: calc(50% + 464px) calc(50% + 1427px);
  }
  25% {
    background-position: calc(50% + 0px) calc(50% + 1500px);
  }
  30% {
    background-position: calc(50% + -464px) calc(50% + 1427px);
  }
  35% {
    background-position: calc(50% + -882px) calc(50% + 1214px);
  }
  40% {
    background-position: calc(50% + -1214px) calc(50% + 882px);
  }
  45% {
    background-position: calc(50% + -1427px) calc(50% + 464px);
  }
  50% {
    background-position: calc(50% + -1500px) calc(50% + 0px);
  }
  55% {
    background-position: calc(50% + -1427px) calc(50% + -464px);
  }
  60% {
    background-position: calc(50% + -1214px) calc(50% + -882px);
  }
  65% {
    background-position: calc(50% + -882px) calc(50% + -1214px);
  }
  70% {
    background-position: calc(50% + -464px) calc(50% + -1427px);
  }
  75% {
    background-position: calc(50% + 0px) calc(50% + -1500px);
  }
  80% {
    background-position: calc(50% + 464px) calc(50% + -1427px);
  }
  85% {
    background-position: calc(50% + 882px) calc(50% + -1214px);
  }
  90% {
    background-position: calc(50% + 1214px) calc(50% + -882px);
  }
  95% {
    background-position: calc(50% + 1427px) calc(50% + -464px);
  }
  100% {
    background-position: calc(50% + 1500px) calc(50% + 0px);
  }
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 500% -140px;
  }
  to {
    background-position: 200% -140px;
  }
}

.starlight::after {
  animation: move-clouds-back 120s linear infinite;
}
.starlight::before {
  animation: move-twink-back 120s linear infinite;
}
.starlight {
  animation: move-stars 500s linear infinite;
}
@media (prefers-reduced-motion: reduce) {
  .starlight, .starlight::before, .starlight::after {
    display: none;
    animation: none;
  }
}
